// COLUMNS & BREAKPOINTS

$tot-width: 100%;
$num-col: 12;
$gut-width: 2%;

$ind-col-width: ($tot-width - ($gut-width * ($num-col - 1))) / $num-col; //remember PEMAS //ALWAYS HAVE SPACE between $var - #

         // geezee = # of columns within element
@mixin grid($geezee){
  width: ($geezee * $ind-col-width) + ($gut-width *($geezee - 1 ));
}
  


@media (min-width: 500px){
  
  .centered-breakpoint{
  }

  .col-md-1{
    width: 6.5%;
    margin-right: $gut-width;
  }

  .col-md-2{
    width: 15%;
    margin-right: $gut-width;
  }

  .col-md-3{
    width: 23.5%;
    margin-right: $gut-width;
  }

  .col-md-4{
    width: 32%;
    margin-right: $gut-width;
  }

  .col-md-5{
    width: 40.5%;
    margin-right: $gut-width;
  }

  .col-md-6{
    width: 49%;
    margin-right: $gut-width;
  }

  .col-md-7{
    width: 57.5%;
    margin-right: $gut-width;
  }

  .col-md-8{
    width: 66%;
    margin-right: $gut-width;
  }

  .col-md-9{
    width: 74.5%;
    margin-right: $gut-width;
  }

  .col-md-10{
    width: 83%;
    margin-right: $gut-width;
  }

  .col-md-11{
    width: 91.5%;
    margin-right: $gut-width;
  }

  .col-md-12{
    width: 100%;
  }  
}




@media (min-width: 768px){

  .centered-breakpoint{
    margin: auto;
  }
  
  .col-lg-1{
    width: 6.5%;
    margin-right: $gut-width;
  }

  .col-lg-2{
    width: 15%;
    margin-right: $gut-width;
  }

  .col-lg-3{
    width: 23.5%;
    margin-right: $gut-width;
  }

  .col-lg-4{
    width: 32%;
    margin-right: $gut-width;
  }

  .col-lg-5{
    width: 40.5%;
    margin-right: $gut-width;
  }

  .col-lg-6{
    width: 49%;
    margin-right: $gut-width;
  }

  .col-lg-7{
    width: 57.5%;
    margin-right: $gut-width;
  }

  .col-lg-8{
    width: 66%;
    margin-right: $gut-width;
  }

  .col-lg-9{
    width: 74.5%;
    margin-right: $gut-width;
  }

  .col-lg-10{
    width: 83%;
    margin-right: $gut-width;
  }

  .col-lg-11{
    width: 91.5%;
    margin-right: $gut-width;
  }

  .col-lg-12{
    width: 100%;
  }
  
}