
@import 'variables';

.right-menu{
	margin-right: 0;
	top: 0;
}

@media (min-width: 0){
	.right-menu{
		float: left;
	}
}

@media (min-width: 768px){
	.right-menu{
		float: right;
		position: static;
	}
}

.whats-new{
	@extend %basic-padding-border;

	padding-bottom: 1rem;


	p{
		color: black;
		margin-top: 0;
		font-size: 19px;
		font-weight: 600;
	}
}

.whats-new-top-img{
	width: 100%;
	margin: 0 auto;
	padding: 1rem 1rem 0.5rem 1rem;
	box-sizing: border-box;
}

.whats-new-feed{
	@extend %basic-padding-border;

	padding-top: 6px;

	h5{
		font-size: 12px;
		font-weight: 300;
		margin: 0;
		color: $brand-grey;
		padding-bottom: 6px;
	}
	
	p{
		width: 95%;
		font-size: 15px;
		font-weight: 300;
		color: $brand-grey;
	}
	
	.odd-text-out{
		color: $brand-color;
	}
}

.whats-new-feed-img{
	float: right;
	width: 30px;
	height: 30px;
	padding: 5px;
}