
$brand-color: #6fbbb7;

$brand-grey: #918E8E;


%basic-padding-border{
	width: 100%;
	padding: 18px 18px 0 18px;
	box-sizing: border-box;
}

%basic-padding2-border{
	width: 100%;
	padding: 0 18px;
	box-sizing: border-box;
}



a{
	color: $brand-color;
	cursor: pointer;
	text-decoration: none;

	&:hover{
		text-decoration: underline;
		color: $brand-color;
	}
}


.fa-plus{
	color: $brand-grey;
	float: left;
	padding-top: 0.8rem;
}

.fa-plus-circle, .fa-envelope{
	padding-right: 0.4rem;
}
