
@import 'col-breakpoints.scss';

@import 'variables';

@import 'left-side-menu.scss';

@import 'middle-menu';

@import 'right-side-menu';


body{
	background-color: #f4f4f4;
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}



header{
	width: 100%;
	background-color: white;
	margin-top: 1rem;
	margin-bottom: 18px;
	border-radius: 3px;

	nav{
		
		width: 100%;
		max-width: 500px;
		padding: 0.5rem;

		a{
			font-size: 18px;
			padding: 0.5rem;
			color: $brand-grey;
		}

		a:hover{
			color: white;
			background-color: #2C343A;
			padding: 0.5rem;
			border-radius: 3px;
			text-decoration: none;
		}
	}
}

.head-background-img{
	height: 150px;
}

h1{
	font-size: 28px;
	font-size: 1.75rem;
	margin-top: 0;
	font-weight: 600;
}

h2{
	font-size: 22px;
	font-size: 1.37rem;
	padding-bottom: 6px;
	line-height: 1.2;
	letter-spacing: -0.25px;
	color: $brand-color;
}

h3{
	font-size: 15px;
	line-height: 1.6;
	margin-top: 0;
	margin-bottom: 18px;
	font-weight: 300;
}

h4{
	font-size: 16px;
	font-size: 1rem;
	padding-bottom: 0;
	line-height: 1.4;
	letter-spacing: -0.5px;
}

h5{
	color: $brand-color;
	text-transform: uppercase;
}

// specifically h3 within left-menu "Founded March 19..."
.odd-text-out{
	color: $brand-grey;
}

.side-article, .middle-menu{
	border: 1px solid #ddd;
	background-color: white;
	float: left;
	box-sizing: border-box;
	border-radius: 3px;
}


.bottom-border{
	border-bottom: 1px solid #ddd;
}


.button-1{
	background-color: #EDEDED;
	border-radius: 3px;
	text-align: center;
	margin: 12px 0;
	padding: 8px;

	color: $brand-color;
	font-size: 15px;
}

.button-2{
	color: black;
	background-color: #EDEDED;
	border-radius: 3px;
	text-align: center;
	padding: 0.5rem 1rem;
	font-size: 18px;
	margin-top: 1rem;
	box-shadow: 0 4px 1px #888888;

	&:hover{
		cursor: pointer;
		background-color: lighten(#EDEDED, 3%);
	}
}

.clickable-text{
	color: $brand-color;
	@extend a;
}







