@media (min-width: 0) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15 {
    width: 100%; } }
@media (min-width: 500px) {
  .col-md-1 {
    width: 6.5%;
    margin-right: 2%; }

  .col-md-2 {
    width: 15%;
    margin-right: 2%; }

  .col-md-3 {
    width: 23.5%;
    margin-right: 2%; }

  .col-md-4 {
    width: 32%;
    margin-right: 2%; }

  .col-md-5 {
    width: 40.5%;
    margin-right: 2%; }

  .col-md-6 {
    width: 49%;
    margin-right: 2%; }

  .col-md-7 {
    width: 57.5%;
    margin-right: 2%; }

  .col-md-8 {
    width: 66%;
    margin-right: 2%; }

  .col-md-9 {
    width: 74.5%;
    margin-right: 2%; }

  .col-md-10 {
    width: 83%;
    margin-right: 2%; }

  .col-md-11 {
    width: 91.5%;
    margin-right: 2%; }

  .col-md-12 {
    width: 100%; } }
@media (min-width: 768px) {
  .centered-breakpoint {
    margin: auto; }

  .col-lg-1 {
    width: 6.5%;
    margin-right: 2%; }

  .col-lg-2 {
    width: 15%;
    margin-right: 2%; }

  .col-lg-3 {
    width: 23.5%;
    margin-right: 2%; }

  .col-lg-4 {
    width: 32%;
    margin-right: 2%; }

  .col-lg-5 {
    width: 40.5%;
    margin-right: 2%; }

  .col-lg-6 {
    width: 49%;
    margin-right: 2%; }

  .col-lg-7 {
    width: 57.5%;
    margin-right: 2%; }

  .col-lg-8 {
    width: 66%;
    margin-right: 2%; }

  .col-lg-9 {
    width: 74.5%;
    margin-right: 2%; }

  .col-lg-10 {
    width: 83%;
    margin-right: 2%; }

  .col-lg-11 {
    width: 91.5%;
    margin-right: 2%; }

  .col-lg-12 {
    width: 100%; } }
.left-menu-logo, .left-menu-first-info, .organizers-menu, .we-about-menu, .middle-head, .meetups-event, .whats-new, .whats-new-feed {
  width: 100%;
  padding: 18px 18px 0 18px;
  box-sizing: border-box; }

.suggest-meetup, .suggest-meetup-tabs {
  width: 100%;
  padding: 0 18px;
  box-sizing: border-box; }

a, .clickable-text {
  color: #6fbbb7;
  cursor: pointer;
  text-decoration: none; }
  a:hover, .clickable-text:hover {
    text-decoration: underline;
    color: #6fbbb7; }

.fa-plus {
  color: #918E8E;
  float: left;
  padding-top: 0.8rem; }

.fa-plus-circle, .fa-envelope {
  padding-right: 0.4rem; }

.left-menu-logo, .left-menu-first-info, .organizers-menu, .we-about-menu, .middle-head, .meetups-event, .whats-new, .whats-new-feed {
  width: 100%;
  padding: 18px 18px 0 18px;
  box-sizing: border-box; }

.suggest-meetup, .suggest-meetup-tabs {
  width: 100%;
  padding: 0 18px;
  box-sizing: border-box; }

a, .clickable-text {
  color: #6fbbb7;
  cursor: pointer;
  text-decoration: none; }
  a:hover, .clickable-text:hover {
    text-decoration: underline;
    color: #6fbbb7; }

.fa-plus {
  color: #918E8E;
  float: left;
  padding-top: 0.8rem; }

.fa-plus-circle, .fa-envelope {
  padding-right: 0.4rem; }

.left-menu {
  padding-bottom: 1rem; }

.left-menu-logo {
  text-align: center; }
  .left-menu-logo .logo {
    width: 95%; }

.left-menu-first-info h2 {
  margin-top: 0; }
.left-menu-first-info h3, .left-menu-first-info .we-about-menu a, .we-about-menu .left-menu-first-info a, .left-menu-first-info .we-about-menu .clickable-text, .we-about-menu .left-menu-first-info .clickable-text {
  margin-top: -1em; }

.types-of-classes {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  line-height: 1.6;
  color: #6fbbb7;
  padding: 6px 0 6px 18px;
  overflow: hidden; }
  .types-of-classes .classes {
    float: left;
    width: 71%; }
  .types-of-classes .classes-number {
    float: right;
    text-align: right;
    padding-right: 1em; }

.classes-bottom {
  padding-top: 2rem; }

.fa-facebook-official {
  color: #4B5F91;
  padding-left: 1rem; }
  .fa-facebook-official:hover {
    text-decoration: none; }

.fa-twitter-square {
  color: #6fbbb7; }
  .fa-twitter-square:hover {
    text-decoration: none; }

.types-of-classes:hover {
  cursor: pointer; }
  .types-of-classes:hover .classes {
    text-decoration: underline; }
  .types-of-classes:hover .classes-number {
    text-decoration: underline; }

.organizers-menu {
  color: #6fbbb7; }
  .organizers-menu h2 {
    font-size: 18px;
    margin-top: 0; }
  .organizers-menu h3, .organizers-menu .we-about-menu a, .we-about-menu .organizers-menu a, .organizers-menu .we-about-menu .clickable-text, .we-about-menu .organizers-menu .clickable-text {
    margin: 0;
    color: #6fbbb7; }

.owl {
  float: right; }

.we-about-menu p {
  color: black;
  margin-top: 0;
  font-size: 18px;
  font-weight: 600; }
.we-about-menu a, .we-about-menu .clickable-text {
  color: #6fbbb7; }

.left-menu-logo, .left-menu-first-info, .organizers-menu, .we-about-menu, .middle-head, .meetups-event, .whats-new, .whats-new-feed {
  width: 100%;
  padding: 18px 18px 0 18px;
  box-sizing: border-box; }

.suggest-meetup, .suggest-meetup-tabs {
  width: 100%;
  padding: 0 18px;
  box-sizing: border-box; }

a, .clickable-text {
  color: #6fbbb7;
  cursor: pointer;
  text-decoration: none; }
  a:hover, .clickable-text:hover {
    text-decoration: underline;
    color: #6fbbb7; }

.fa-plus {
  color: #918E8E;
  float: left;
  padding-top: 0.8rem; }

.fa-plus-circle, .fa-envelope {
  padding-right: 0.4rem; }

.middle-head {
  padding-bottom: 1rem; }
  .middle-head h1 {
    margin-bottom: 0; }

.suggest-meetup, .suggest-meetup-tabs {
  width: 90%;
  max-width: 431px;
  margin: 0 auto;
  border: 1px solid white;
  background-color: #EDEDED;
  overflow: hidden; }
  .suggest-meetup h2, .suggest-meetup-tabs h2 {
    font-weight: 300;
    margin: 0;
    padding: 6px 0 0.7rem 1rem;
    float: left;
    text-decoration: uppercase; }
  .suggest-meetup:hover, .suggest-meetup-tabs:hover {
    text-decoration: none;
    background-color: whitesmoke; }

.suggest-meetup-tabs {
  padding-top: 6px; }
  .suggest-meetup-tabs .tabs {
    width: 90px;
    text-align: center;
    display: inline-block;
    border: 1px solid #ddd;
    border-bottom: 0;
    background-color: #F7F7F7; }
  .suggest-meetup-tabs .tabs-current {
    background-color: white; }
  .suggest-meetup-tabs a:hover, .suggest-meetup-tabs .clickable-text:hover {
    text-decoration: none; }
  .suggest-meetup-tabs p {
    font-size: 14px;
    font-weight: 300;
    color: #6fbbb7;
    margin: 0;
    padding: 6px 0 6px 0; }
  .suggest-meetup-tabs:hover {
    background-color: #EDEDED; }

.meetups-event {
  overflow: hidden;
  border-bottom: 1px solid #ddd; }
  .meetups-event h2 {
    margin: 0;
    margin-bottom: 0.5rem; }
  .meetups-event .button-2, .meetups-event .button-3 {
    width: 300px; }

.meetups-event-leftside {
  width: 65%;
  float: left;
  margin-top: 0; }
  .meetups-event-leftside h3, .meetups-event-leftside .we-about-menu a, .we-about-menu .meetups-event-leftside a, .meetups-event-leftside .we-about-menu .clickable-text, .we-about-menu .meetups-event-leftside .clickable-text {
    font-size: 18px;
    margin: 0; }
  .meetups-event-leftside p {
    font-size: 15px;
    color: #918E8E;
    margin: 0; }
  .meetups-event-leftside .odd-text-out {
    color: #6fbbb7; }

.profiles-wrapper {
  margin-top: 6px;
  height: 30px; }
  .profiles-wrapper .profiles-icon {
    height: 100%;
    max-height: 30px;
    border: 1px solid white;
    box-sizing: border-box; }
  .profiles-wrapper .more-profiles {
    display: inline-block;
    margin: 0;
    margin-top: -1em;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #DDE8F4; }

.meetups-event-info {
  color: #918E8E;
  padding-top: 18px;
  font-size: 18px; }
  .meetups-event-info .odd-text-out {
    color: #6fbbb7;
    font-size: 13px; }

.meetups-event-hosted-by {
  padding: 1rem 0;
  color: #918E8E; }

.meetups-event-rightside {
  float: left;
  margin-left: 1rem; }
  .meetups-event-rightside h2 {
    font-size: 18px;
    color: #918E8E;
    font-weight: 300;
    margin: 0; }
  .meetups-event-rightside h3, .meetups-event-rightside .we-about-menu a, .we-about-menu .meetups-event-rightside a, .meetups-event-rightside .we-about-menu .clickable-text, .we-about-menu .meetups-event-rightside .clickable-text {
    color: #918E8E;
    margin: 0; }
  .meetups-event-rightside p {
    color: #918E8E; }
  .meetups-event-rightside .odd-text-out {
    color: #6fbbb7;
    padding-left: 0.3rem; }
  .meetups-event-rightside .button-1 {
    text-align: left; }

.meetups-event-bottom {
  padding: 1rem; }

.left-menu-logo, .left-menu-first-info, .organizers-menu, .we-about-menu, .middle-head, .meetups-event, .whats-new, .whats-new-feed {
  width: 100%;
  padding: 18px 18px 0 18px;
  box-sizing: border-box; }

.suggest-meetup, .suggest-meetup-tabs {
  width: 100%;
  padding: 0 18px;
  box-sizing: border-box; }

a, .clickable-text {
  color: #6fbbb7;
  cursor: pointer;
  text-decoration: none; }
  a:hover, .clickable-text:hover {
    text-decoration: underline;
    color: #6fbbb7; }

.fa-plus {
  color: #918E8E;
  float: left;
  padding-top: 0.8rem; }

.fa-plus-circle, .fa-envelope {
  padding-right: 0.4rem; }

.right-menu {
  float: right;
  margin-right: 0; }

.whats-new {
  padding-bottom: 1rem; }
  .whats-new p {
    color: black;
    margin-top: 0;
    font-size: 19px;
    font-weight: 600; }

.whats-new-top-img {
  margin: 0 auto;
  padding-bottom: 0.5rem; }

.whats-new-feed {
  padding-top: 6px; }
  .whats-new-feed h5 {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    color: #918E8E;
    padding-bottom: 6px; }
  .whats-new-feed p {
    width: 95%;
    font-size: 15px;
    font-weight: 300;
    color: #918E8E; }
  .whats-new-feed .odd-text-out {
    color: #6fbbb7; }

.whats-new-feed-img {
  float: right;
  width: 30px;
  height: 30px; }

body {
  background-color: #f4f4f4;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px; }

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 2rem; }

header {
  width: 100%;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 18px;
  border-radius: 3px;
  overflow: hidden; }
  header nav {
    float: left;
    width: 70%;
    overflow: hidden; }
    header nav a, header nav .clickable-text {
      font-size: 18px;
      float: left;
      margin: 0.4rem;
      padding: 0.2rem 0.6rem;
      color: #918E8E; }
      header nav a:hover, header nav .clickable-text:hover {
        color: white;
        background-color: #2C343A;
        border-radius: 3px;
        text-decoration: none; }
    header nav .selected {
      color: white;
      background-color: #2C343A;
      border-radius: 3px;
      text-decoration: none; }

.profiles {
  float: right; }
  .profiles .profiles-img {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 0.6rem;
    margin-right: -10px;
    padding-left: 10px; }
  .profiles .my-profile {
    float: right;
    margin-left: 0;
    padding-left: 0.5rem;
    font-size: 18px;
    float: left;
    margin: 0.4rem;
    padding: 0.2rem 0.6rem;
    color: #918E8E; }
  .profiles:hover {
    color: white;
    background-color: #2C343A;
    border-radius: 3px;
    text-decoration: none; }

.head-background-img {
  height: 150px; }

h1 {
  font-size: 28px;
  font-size: 1.75rem;
  margin-top: 0;
  font-weight: 600; }

h2 {
  font-size: 22px;
  font-size: 1.37rem;
  padding-bottom: 6px;
  line-height: 1.2;
  letter-spacing: -0.25px;
  color: #6fbbb7; }

h3, .we-about-menu a, .we-about-menu .clickable-text {
  font-size: 15px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 300; }

h4 {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 0;
  line-height: 1.4;
  letter-spacing: -0.5px; }

h5 {
  color: #6fbbb7;
  text-transform: uppercase; }

.odd-text-out {
  color: #918E8E; }

.side-article, .middle-menu {
  border: 1px solid #ddd;
  background-color: white;
  float: left;
  box-sizing: border-box;
  border-radius: 3px; }

.bottom-border {
  border-bottom: 1px solid #ddd; }

.button-1 {
  background-color: #EDEDED;
  border-radius: 3px;
  text-align: center;
  margin: 12px 0;
  padding: 8px;
  color: #6fbbb7;
  font-size: 15px; }

.button-2, .button-3 {
  color: black;
  background-color: #EDEDED;
  border-radius: 3px;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 18px;
  margin-top: 1rem;
  box-shadow: 0 4px 1px #888888; }
  .button-2:hover, .button-3:hover {
    cursor: pointer;
    background-color: whitesmoke;
    text-decoration: none; }

.button-3 {
  width: 95%;
  margin: 0.3rem auto;
  box-sizing: border-box;
  padding: 0.3rem; }

.clickable-text {
  color: #6fbbb7; }

footer {
  background-color: #3B4049;
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-bottom: 2.5rem; }

.foot-info {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden; }
  .foot-info h3, .foot-info .we-about-menu a, .we-about-menu .foot-info a, .foot-info .we-about-menu .clickable-text, .we-about-menu .foot-info .clickable-text {
    float: left;
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding-top: 1rem; }
  .foot-info p {
    float: right;
    color: white;
    font-size: 20px;
    font-weight: 400; }

.foot-nav {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }
  .foot-nav p {
    float: left;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-right: 1rem; }

.foot-bottom-text {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both; }
  .foot-bottom-text p {
    float: left;
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-right: 1rem; }
  .foot-bottom-text .lsc {
    font-size: 1rem;
    color: #918E8E;
    padding-top: 0.3rem; }

/*# sourceMappingURL=main.css.map */
