@media (min-width: 0) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15 {
    width: 100%; } }
@media (min-width: 500px) {
  .col-md-1 {
    width: 6.5%;
    margin-right: 2%; }

  .col-md-2 {
    width: 15%;
    margin-right: 2%; }

  .col-md-3 {
    width: 23.5%;
    margin-right: 2%; }

  .col-md-4 {
    width: 32%;
    margin-right: 2%; }

  .col-md-5 {
    width: 40.5%;
    margin-right: 2%; }

  .col-md-6 {
    width: 49%;
    margin-right: 2%; }

  .col-md-7 {
    width: 57.5%;
    margin-right: 2%; }

  .col-md-8 {
    width: 66%;
    margin-right: 2%; }

  .col-md-9 {
    width: 74.5%;
    margin-right: 2%; }

  .col-md-10 {
    width: 83%;
    margin-right: 2%; }

  .col-md-11 {
    width: 91.5%;
    margin-right: 2%; }

  .col-md-12 {
    width: 100%; } }
.left-menu-logo, .left-menu-first-info {
  width: 100%;
  padding: 18px 18px 0 18px;
  box-sizing: border-box; }

a, .clickable-text {
  color: #6fbbb7;
  cursor: pointer;
  text-decoration: none; }
  a:hover, .clickable-text:hover {
    text-decoration: underline;
    color: #6fbbb7; }

.left-menu-logo, .left-menu-first-info {
  width: 100%;
  padding: 18px 18px 0 18px;
  box-sizing: border-box; }

a, .clickable-text {
  color: #6fbbb7;
  cursor: pointer;
  text-decoration: none; }
  a:hover, .clickable-text:hover {
    text-decoration: underline;
    color: #6fbbb7; }

.left-menu-logo {
  text-align: center; }
  .left-menu-logo .logo {
    width: 95%; }

.left-menu-first-info h2 {
  margin-top: 0; }
.left-menu-first-info h3, .left-menu-first-info .we-about-menu a, .we-about-menu .left-menu-first-info a, .left-menu-first-info .we-about-menu .clickable-text, .we-about-menu .left-menu-first-info .clickable-text {
  margin-top: -1em; }

.types-of-classes {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  color: #6fbbb7;
  background-color: pink; }
  .types-of-classes .classes {
    float: left;
    width: 71%; }
  .types-of-classes .classes-number {
    float: right;
    text-align: right;
    padding-right: 1em; }

.organizers-menu {
  color: #6fbbb7; }
  .organizers-menu h2 {
    font-size: 1rem; }
  .organizers-menu h3, .organizers-menu .we-about-menu a, .we-about-menu .organizers-menu a, .organizers-menu .we-about-menu .clickable-text, .we-about-menu .organizers-menu .clickable-text {
    margin: 0;
    color: #6fbbb7; }

.we-about-menu p {
  color: black; }
.we-about-menu a, .we-about-menu .clickable-text {
  color: #6fbbb7; }

body {
  background-color: #f4f4f4;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px; }

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

header {
  width: 100%;
  height: 200px;
  background-color: white;
  margin-bottom: 18px;
  border-radius: 3px; }
  header nav {
    width: 100%; }
    header nav a, header nav .clickable-text {
      color: blue; }

h1 {
  font-size: 28px;
  font-size: 1.75rem;
  margin-top: 0;
  font-weight: 600; }

h2 {
  font-size: 22px;
  font-size: 1.37rem;
  padding-bottom: 6px;
  line-height: 1.2;
  letter-spacing: -0.25px;
  color: #6fbbb7; }

h3, .we-about-menu a, .we-about-menu .clickable-text {
  font-size: 15px;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 18px;
  font-weight: 300; }

h4 {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 0;
  line-height: 1.4;
  letter-spacing: -0.5px; }

h5 {
  color: #6fbbb7;
  text-transform: uppercase; }

.odd-text-out {
  color: #918E8E; }

.side-article, .middle-menu {
  border: 1px solid #ddd;
  background-color: white;
  float: left;
  box-sizing: border-box; }

.rawr {
  background-color: blue;
  height: 400px;
  width: 100%; }

.bottom-border {
  border-bottom: 1px solid #ddd; }

.button-1 {
  background-color: #EDEDED;
  border-radius: 3px;
  text-align: center;
  margin: 12px 0;
  padding: 8px;
  color: #6fbbb7;
  font-size: 13px; }

.clickable-text {
  color: #6fbbb7; }

.middle-head {
  width: 100%;
  background-color: green; }

/*# sourceMappingURL=main.css.map */
