
@import 'col-breakpoints.scss';

body{
	background-color: #f4f4f4;
}

header{
	height: 200px; // PLACEHOLDER
	max-width: 960px;
	background-color: white;
	margin: 0 auto 18px auto;
	border-radius: 3px;
}